*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/*
#practice{
    width: 600px;
    height: 200px;
    background-color: blue;           
}
#child{
    width: 50%;
    height: 50%;
    background-color: black;
}                                
*/

/*
#practice{
    width: 600px;
    height: 200px;
/*  overflow:hidden 
background-color:blue ;

}
#child{
    width:50vw;
    height:50vw;
    background-color: green;
}

*/

/*
html{
    font-size: 50px;
}

#test{
    font-size: 20px;
    width:2em ;
    height:2em ;
    background-color: black;
}

*/

/*
html{
    font-size: 50px;
}

#test{
    font-size:20;
    width:2rem;
    height:2rem;
    background-color: blue;
}
*/

/*
#test{
    width: 300px; 
    max-width: 500px;
    max-height:700px;
    height: 200px;
    background-color: brown;
}
*/







